$linkcolor: #344E41;
$linkhover: #588157;
$headercolor: #444444;
$bgcolor: #444444;

$footercolor: darken($headercolor, 15%);


$breakpoint: 500px;


// Responsive Screen Sizes
$bigscreen: 1600px;
$tablet: 800px;
$phone: 480px;