/* Import Variables  */
@import "normalize";

@import "variables";
@import "mixins";
@import "grid";
@import "fonts";


/* Box Sizing */
* { box-sizing: border-box; }


/* Standards */

body{
	padding:0;
	margin:0;
	
	font-family: 'Raleway', Helvetica, Sans-serif;
	background: $bgcolor;
}

a{
	@include ease;
	text-decoration: none;
	color:$linkcolor;

	&:hover{
	color:$linkhover;
	text-decoration: none;
	}
}





/* -- Header --*/

header{
	background: $headercolor;
	padding:10px;

	@include breakpoint (tablet) {
		text-align: center;
	}
	
	body#home & {
			margin-bottom: 0;
	}

	&:hover{
		color:$linkhover;
	}
}

.header-logo {
	float:left;
	width:85px;

	@include breakpoint (tablet) {
			float:none;
			width:80px;
	}
	
}





header{
	nav{
		float:right;
		text-align: right;
		margin-top: 21px;

		@include breakpoint (tablet) {
			float:none;
			text-align: right;
		}

		a{
			margin-right:20px;
			font-size:13px;
			color:$linkcolor;
			text-decoration:none;
			
			&:last-of-type{
					margin:0;
			}
		}
	}
}


/*-- Footer --*/

footer{
	background: $footercolor;
	margin-top:60px;
	padding:5px 0;
	font-size:11px;
	text-align:center;
	width: 100%;
}

.footer-logo{
	float:center;
	width: 10%;

	@include breakpoint (laptop) {
		width: 15%;
	}

	@include breakpoint (tablet) {
		width: 17.5%;
	}

@include breakpoint (phone) {
		width: 25%;
	}

}

.copyright{
	color: $fontcolor;
}

/*-- Hero --*/
.hero{
	background: $bgcolor;
	/* background-image: url('img/hero.png'); */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	& h1{
	margin:0;
	padding:450px 0;
	color:white;
	text-shadow:0 0 10px #A3BAC3;
	text-align: center;
	}
}
